[SddmGreeterTheme]
Name=Lingmo
Name[az]=Lingmo
Name[be]=Lingmo
Name[bg]=Lingmo
Name[cs]=Lingmo
Name[da]=Lingmo
Name[de]=Lingmo
Name[el]=Lingmo
Name[en_GB]=Lingmo
Name[eo]=Lingmo
Name[es]=Brisa
Name[eu]=Lingmo
Name[fr]=Lingmo
Name[gl]=Brisa
Name[hu]=Lingmo
Name[id]=Lingmo
Name[is]=Lingmo
Name[ka]=Lingmo
Name[lt]=Lingmo
Name[lv]=Lingmo
Name[nl]=Lingmo
Name[nn]=Lingmo
Name[pt_BR]=Lingmo
Name[ro]=Lingmo
Name[ru]=Lingmo
Name[sv]=Lingmo
Name[uk]=Lingmo
Name[zh_CN]=灵墨
Name[zh_TW]=灵墨
Description=Lingmo
Description[az]=Lingmo
Description[be]=Lingmo
Description[bg]=Lingmo
Description[cs]=Lingmo
Description[da]=Lingmo
Description[de]=Lingmo
Description[el]=Lingmo
Description[en_GB]=Lingmo
Description[fr]=Lingmo
Description[hu]=Lingmo
Description[id]=Lingmo
Description[is]=Lingmo
Description[ka]=Lingmo
Description[lt]=Lingmo
Description[lv]=Lingmo
Description[nl]=Lingmo
Description[nn]=Lingmo
Description[pt_BR]=Lingmo
Description[ru]=Lingmo
Description[sv]=Lingmo
Description[uk]=Lingmo
Author=Lingmo Desktop Team
Copyright=(c) 2024, Elysia
License=GPL-v3
Type=sddm-theme
Version=0.1
Website=https://github.com/LingmoOS/lingmo-sddm-theme
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Lingmo
Theme-API=2.0
QtVersion=6
